<h1> Welcome to the Book Pub </h1>

<% @books.each do |book| %>
  <h2> Title: <%= book.title %></h2>
  <p>Publication year: <%= book.year_published %> </p>
  <p>Page Count: <%= book.page_count %> </p>
  <p>Author(s): <% book.authors.each do |author| %>
                <%=                    author.name %>
                <%                            end %>
  <p>Rating: <%= book.average_rating %><p>
  <p>Total Reviews: <%= book.review_count %><p>
<% end %>
